@model IEnumerable<ServerPoliziaApp.Models.VerbaleViewModel>

@{
    ViewData["Title"] = "Lista Verbali";
}

<h1>Lista Verbali</h1>

<a asp-action="Create" class="btn btn-primary mt-3 mb-3">Aggiungi Verbale</a>


<table class="table">
    <thead>
        <tr>
            <th>Numero Verbale</th>
            <th>Trasgressore</th>
            <th>Violazione</th>
            <th>Data Violazione</th>
            <th>Importo</th>
            <th>Punti Decurtati</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.NumeroVerbale</td>
                <td>@item.NomeTrasgressore @item.CognomeTrasgressore</td>
                <td>@item.DescrizioneViolazione</td>
                <td>@item.DataViolazione.ToString("yyyy-MM-dd HH:mm")</td>
                <td>@item.Importo</td>
                <td>@item.PuntiDecurtati</td>
            </tr>
        }
    </tbody>
</table>
